@tailwind base;
@tailwind components;
@tailwind utilities;

$color-peach: #ffd6c7;

::selection {
    background: $color-peach;
}

html {
    font-family: 'Work Sans', sans-serif;
}

.serif {
    font-family: 'PT Serif', serif;
}
